.container{
    background: rgb(25, 190, 219);
    width: 500px;
    text-align: center;
}
form{
    padding: 20px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    background: rgb(3, 3, 153);
    text-align: left;
}
